/.gradle/8.9/executionHistory/executionHistory.bin
/.gradle/8.9/executionHistory/executionHistory.lock
/.gradle/file-system.probe
/.gradle/8.9/gc.properties
/.gradle/vcs-1/gc.properties
/.gradle/8.9/fileChanges/last-build.bin
/.gradle/buildOutputCleanup/outputFiles.bin
/composeApp/build
/shared/build
/.gradle
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin
/iosApp/iosApp.xcodeproj/xcuserdata/senoadji.xcuserdatad/xcschemes/xcschememanagement.plist
/iosApp/Pods/Pods.xcodeproj/xcuserdata/senoadji.xcuserdatad/xcschemes/xcschememanagement.plist
/iosApp/iosApp.xcworkspace/contents.xcworkspacedata
/iosApp/Pods/Manifest.lock
/iosApp/Podfile
/iosApp/Podfile.lock
/iosApp/Pods/Target Support Files/Pods-iosApp/Pods-iosApp.debug.xcconfig
/iosApp/Pods/Target Support Files/Pods-iosApp/Pods-iosApp.modulemap
/iosApp/Pods/Target Support Files/Pods-iosApp/Pods-iosApp.release.xcconfig
/iosApp/Pods/Pods.xcodeproj/xcuserdata/senoadji.xcuserdatad/xcschemes/Pods-iosApp.xcscheme
/iosApp/Pods/Target Support Files/Pods-iosApp/Pods-iosApp-acknowledgements.markdown
/iosApp/Pods/Target Support Files/Pods-iosApp/Pods-iosApp-acknowledgements.plist
/iosApp/Pods/Target Support Files/Pods-iosApp/Pods-iosApp-dummy.m
/iosApp/Pods/Target Support Files/Pods-iosApp/Pods-iosApp-Info.plist
/iosApp/Pods/Target Support Files/Pods-iosApp/Pods-iosApp-umbrella.h
/iosApp/Pods/Pods.xcodeproj/project.pbxproj


